*.pyc
venv/
.factory.secret
env/*/secret.cfg
env/*/secret.d/
log/
flaskcache/
doc/
__pycache__/
deploy-appengine-example.sh
.idea/
.vscode/
vendors/
pkgs
credentials.py
.pytest_cache/
htmlcov
.coverage
.*_history
.python-version
*.bak
.eggs
*.egg-info
examples/example_config.py
